.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 413px;
  border-radius: 8px;
  overflow: hidden;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: url(../images/delete.svg);
  cursor: pointer;
  transition: top 0.3s ease, right 0.3s ease, width 0.3s ease, height 0.3s ease;
}
.card__delete-btn:hover {
  background-image: url(../images/delete_hover.svg);
}
.card__like-btn {
  width: 23px;
  height: 20px;
  border: none;
  background: url(../images/like.svg) no-repeat center/contain;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.card__like-btn:hover {
  opacity: 1;
}
.card__like-btn_active {
  background-image: url(../images/pink_like.svg);
  opacity: 1;
}
.card__like-btn_active:hover {
  background-image: url(../images/pink_like.svg);
  opacity: 0.4;
}
@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__content {
    max-width: 288px;
  }
  .card__title {
    max-width: 144px;
    font-size: 16px;
    -webkit-line-clamp: 1;
  }
}
