.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  opacity: 70%;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}
